# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Z2.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\jakub\Desktop\Uczelnia\POO\Lista8\Z2\.idea\.idea.Z2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
