# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.Z1.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\jakub\Desktop\Uczelnia\POO\Lista10\Z1\.idea\.idea.Z1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
