# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Z4.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\jakub\Desktop\Uczelnia\POO\Lista5\Z4\Z4\.idea\.idea.Z4.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
